.button {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	border-radius: 0.75rem;
	text-decoration: none;
	background: #062b91;
	border: 2px solid transparent;
	cursor: pointer;
	transition: background-color 0.15s;
	color: #fff;
}

.button:hover, .button:focus {
	border-color: var(--foreground);
	background-color: var(--selected);
}

.button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
