.emoji {
	display: inline-block;
	vertical-align: middle;
	padding: 0.75rem;
	border: 2px solid var(--foreground);
	border-radius: 10px;
	background: #f9fafb;
	font-size: 2rem;
	cursor: pointer;
	transition: border-color 0.15s background-color 0.15s;
}

.emoji:hover, .emoji:focus, .selected {
	border-color: var(--foreground);
	background-color: var(--selected);
}
