.header {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid var(--foreground);
	padding: 1rem;
	text-align: center;
}

.link {
	text-decoration: none;
	color: var(--foreground);
}

.link:hover {
	color: var(--selected);
}

.title {
	margin: 0;
}
