.loaderContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 0;
}

.spinner {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border-top: 2px solid var(--selected);
	border-bottom: 2px solid var(--foreground);
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	margin-bottom: 0.5rem;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
