.item {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	border-radius: 0.75rem;
	padding: 1rem;
	border: 1px solid var(--foreground);
	max-width: 600px;
}

.emoji {
	font-size: 2rem;
	text-decoration: none;
}

.details {
	flex: 1;
}

.meta {
	font-size: 0.75rem;
	color: var(--foreground)-200;
	margin-top: 0.25rem;
}

.updated {
	margin-left: 0.5rem;
}
