.container {
	opacity: 1;
	animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.error {
	color: var(--error);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}


.empty {
	text-align: center;
	margin-top: 1rem;
}
