.container {
	opacity: 1;
	animation: fadeIn 0.5s ease-in;
	padding: 0;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0;
}

.error {
	color: var(--error);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
