.item {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	border-radius: 0.75rem;
	padding: 1rem;
	max-width: 600px;
	background-color: var(--selectable);
	color: var(--foreground);
	border: 2px solid transparent;
	text-decoration: none;
}

.item:hover {
	border-color: var(--foreground);
	background-color: var(--selected);
}

.emoji {
	font-size: 2rem;
	text-decoration: none;
}

.details {
	flex: 1;
}

.meta {
	font-size: 0.75rem;
	color: var(--foreground)-200;
	margin-top: 0.25rem;
}
