:root {
  --background: #F1EDEE;
  --foreground: #3D5467;
  --selectable: #30C5FF;
  --selected: #96cfe9;
  --error: #FB3640;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3D5467;
    --foreground: #F1EDEE;
    --selected: #30C5FF;
    --selectable: #3280A4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
  align-items: center;
	min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 30px;
}

.error {
  color: var(--error);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}