.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.75rem 1.5rem;
	border-radius: 0.75rem;
	text-decoration: none;
	background: var(--selectable);
	border: 2px solid transparent;
	cursor: pointer;
	transition: background-color 0.15s;
	color: var(--foreground);
}

.button:hover, .button:focus {
	border-color: var(--foreground);
	background-color: var(--selected);
}

.button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
