.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	padding: 2rem 0;
}

.controls {
	display: flex;
	align-items: center;
	gap: 4px;
	flex-wrap: wrap;
	justify-content: center;
}

.pageNumbers {
	display: flex;
	gap: 4px;
}

.activePage {
	background: var(--selected);
	border-color: var(--selected);
}

.activePage:hover,
.activePage:focus {
	background: var(--selected);
	border-color: var(--selected);
}



